{{page-toolbar pageTitle="Home"}}
{{#paper-content scroll-y=true class="layout-padding flex"}}
<div class="doc-content">
  {{#paper-card as |card|}}
    {{#card.content}}
      <p>Welcome to Ember Paper.</p>
    {{/card.content}}
  {{/paper-card}}
</div>
{{/paper-content}}
